<%=render 'shared/navigation'%>
<%= javascript_include_tag 'home' %>


<h1 class ="text-welcome-msg">Hi, <%= current_user.username %>!  Where do you feel like lunching today?</h1>
<!-- <img src="/images/pic_map.png" alt="" class="mapsss" id="mapper" onclick="changeImage()"> -->

<div class="index-container" id="allspots">
<% @spots.each do |spot| %>

      <div class="card-total" id="card-total">
        <%= link_to spot_path(spot) do %>

          <div class="card-body">
            <div class="spot-title-time">
              <h3 id="index-spot-title"><%=truncate(spot.spot, length:11)%></h3>
              <h3 id="index-spot-time"><%= spot.time_start %> - <%= spot.time_end %></h3>
            </div>

            <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
              &q=<%="#{spot.spot}"%>+<%="#{spot.location}"%>" allowfullscreen>
            </iframe>

            <h3 id='index-spot-location'><%= truncate(spot.location) %></h3>
            <div class="index-spot-text">
              <p id='index-spot-date'><%= spot.datestring %></p>
            </div>

            <% @users.each do |user| %>
              <%= link_to profile_path(user.id) do %>
                <% if user.id == spot.user_id %>
                  <% if user.avatar.attached? %>
                    <%= image_tag user.avatar.variant(resize: "50x50!"), class: "tar rounded-circle" %>
                  <% else %>
                    <%= image_tag gravatar_image_url(user.email, size: 75), height: 50, width: 50, class: "tar rounded-circle" %></img>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <img><% spot.followers.each do |follower| %>
              <%= link_to profile_path(follower.id) do %>
                <% if follower.avatar.attached? %>
                  <%= image_tag follower.avatar.variant(resize: "50x50!"), class: "tar rounded-circle" %>
                <% else %>
                  <%= image_tag gravatar_image_url(follower.email, size: 75), height: 50, width: 50, class: "tar rounded-circle" %>
                <% end %>
              <% end %>
            <% end %>
            </img>

        <% end %>
      </div>
    </div>
  <% end %>
 </div>
</div>
<div id="mapsrender" style="display: none">
  <%= render 'spots/partials/map_view' %>
</div>
