
<h1 class ="text">Hi, <%= current_user.username %>!  Where do you feel like lunching today?</h1>

<div class="container">
  <% @spots.each do |spot| %>

      <div class="card-total">
        <%= link_to spot_path(spot) do %>
          <img class="card-img-top" src="http://placehold.it/700x400" alt="">
        <% end %>

          <div class="card-body">
            <div class="spot-title-time"
              <h1 class ="text"><a <%= link_to spot.spot, spot_path(spot)%></a></h1>
              <p><%= spot.time %></p>
            </div>
            <p><%= spot.location %></p>
            <p><%= spot.info %></p>
            <h4>Lunchers</h4>
            <% spot.followers.each do |follower| %>
              <%= link_to profile_path(follower.id) do %>
                <% if follower.avatar.attached? %>
                  <%= image_tag follower.avatar.variant(resize: "50x50!"), class: "tar rounded-circle" %>
                <% else %>
                  <%= image_tag gravatar_image_url(follower.email, size: 75), height: 50, width: 50, class: "tar rounded-circle" %>
                <% end %>
              <% end %>
            <% end %>
          </div>

      </div>

  <% end %>
</div>
