<%=render 'shared/navigation'%>
<%= javascript_include_tag 'home' %>

<div class="containerz">
  <h1 class ="text-welcome-msg">Hi, <%= current_user.username %>!  Where do you feel like lunching today?</h1>

  <div class="all-picture">
    <div class="map-picture">
      <img src="/images/pic_map.png" alt="" class="mapsss" id="mapper" onclick="DisplayMap()">
    </div>

    <div class="list-picture">
      <img src="/images/pic_list.png" alt="" class="mapsss" id="lister" onclick="DisplayList()">
    </div>
  </div>
</div>



<div class="index-container" id="allspots">
<% @spots.each do |spot| %>

      <div class="card-total" id="card-total">
        <%= link_to spot_path(spot) do %>

          <div class="card-body">
            <div class="spot-title-time">
              <h3 id="index-spot-title"><%=spot.spot%></h3>
              <h3 id="index-spot-time"><%= spot.time_start %> - <%= spot.time_end %></h3>
            </div>

            <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
              &q=<%="#{spot.spot}"%>+<%="#{spot.location}"%>" allowfullscreen>
            </iframe>

            <h3 id='index-spot-location'><%= spot.location %></h3>
            <div class="index-spot-text">
              <p><%= spot.datestring %></p>
            </div>

            <% @users.each do |user| %>
              <%= link_to profile_path(user.id) do %>
                <% if user.id == spot.user_id %>
                  <% if user.avatar.attached? %>
                    <%= image_tag user.avatar.variant(resize: "50x50!"), class: "tar rounded-circle" %>
                  <% else %>
                    <%= image_tag gravatar_image_url(user.email, size: 75), height: 50, width: 50, class: "tar rounded-circle" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

          </div>
      </div>
    <% end %>
 <% end %>
 </div>
</div>
<div id="mapsrender" style="display: none">
  <%= render 'spots/partials/map_view' %>
</div>
