<h1>Welcome to Meet and Eat!</h1>
Please see the spots available below
<% @spots.each do |spot| %>
  <div class="well">
    <h3><%= spot.spot %></h3>
    <p><%= spot.time %></p>
    <p><%= spot.location %></p>
    <p><%= spot.info %></p>
    <%= link_to "Read More", spot_path(spot), :class => 'btn btn-default' %>
  </div>
<% end %>
