
<h1 class ="text">Hi, <%= current_user.username %>!  Where do you feel like lunching today?</h1>

<div class="container">
  <% @spots.each do |spot| %>

      <div class="card-total">
        <%= link_to spot_path(spot) do %>
        <% end %>

          <div class="card-body">
            <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
              &q=<%="#{spot.spot}"%>+<%="#{spot.location}"%>" allowfullscreen>
            </iframe>
            <div class="spot-title-time"
              <h1><a class="spot-title"<%= link_to spot.spot, spot_path(spot)%></a></h1>
              <p class="spot-time"><%= spot.time_start %> - <%= spot.time_end %></p>
            </div>
            <p><%= spot.location %></p>
            <p><%= spot.info %></p>

            <div class="spot-followers"

            <% @users.each do |user| %>
              <% if user.id == spot.user_id %>
                <%= link_to profile_path(user.id) do %>
                  <% if user.avatar.attached? %>
                    <%= image_tag user.avatar.variant(resize: "50x50!"), class: "tar rounded-circle" %>
                  <% else %>
                    <%= image_tag gravatar_image_url(user.email, size: 75), height: 50, width: 50, class: "tar rounded-circle" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

              <% spot.followers.each do |follower| %>
                <%= link_to profile_path(follower.id) do %>
                  <% if follower.avatar.attached? %>
                    <%= image_tag follower.avatar.variant(resize: "50x50!"), class: "tar rounded-circle" %>
                  <% else %>
                    <%= image_tag gravatar_image_url(follower.email, size: 75), height: 50, width: 50, class: "tar rounded-circle" %>
                  <% end %>
                <% end %>
              <% end %>

            </div>
          <% if spot.user_id != current_user.id %>
            <% if spot.followed_by?(current_user) %>
            <div class="spot-user-options">
              <div class="spot-user-option">
                <%= form_tag unfollow_spot_path(id: spot.id), method: :post, data: {confirm: 'You monster.'}, remote: true do  %>
                <%= button_tag 'Leave Spot', :class => 'btn btn-danger' %><% end %>
              </div>
            </div>
            <% else %>
            <div class="spot-user-options">
              <div class="spot-user-option">
                <%= form_tag follow_spot_path(id: spot.id), method: :post, data: {confirm: 'Joined a lunch spot!'}, remote: true do  %>
                <%= button_tag 'Join Spot', :class => 'btn btn-success' %><% end %>
              </div>
            </div>
            <% end %>
          <% end %>
          </div>
      </div>
  <% end %>
</div>

<style>
.text {
  text-align: center;
}
a.spot-title {
  font-size: 30px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 40px;
}

.spot-title-time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 20px;
}

p.spot-time {
  text-align: right;
}
.card-total {
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  width: 59%;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body {
  padding: 30px;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.spot-followers {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.spot-user-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
}

.spot-user-option {
  padding: 5px;
}
</style>
