<div id="form-group">
<div class="form text-color">

<h1>Add a Lunch spot!</h1>
<%= form_for :spot, url: spots_path do |f| %>
    <% if @spot.errors.any? %>
      <% @spot.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
    <% end %>
  <p>
    <%= f.label :spot %><br>
    <%= f.text_field(:spot, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.label :time %><br>
    <%= f.text_area(:time, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_area(:location, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.label :info %><br>
    <%= f.text_area(:info, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>
<% end %>

</div>
</div>
