<%=render 'shared/navigation'%>
<%= javascript_include_tag 'spots' %>

<div id="form-group">
  <div class="form text-color">
    <h1>Add a Lunch spot!</h1>

  <%= form_for :spot, url: spots_path do |f| %>
      <% if @spot.errors.any? %>
        <% @spot.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      <% end %>

      
    <iframe id="location" width="500" height="375" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=<%=ENV['google_maps_api_key']%>
      &q=restaurants+near+me" allowfullscreen>
    </iframe>

    <p>
      <%= f.label :spot %><br>
      <%= f.text_field(:spot, {:class => 'form-control'}) %>
    </p>

    <p>
      <%= f.label :date %><br>
      <%= f.text_field(:datestring, :autocomplete => :off, :id => "datepicker", :class => 'form-control') %>
    </p>

    <p>
      <%= f.label :time_start %> (24h)<br>
      <%= f.text_field(:time_start, autocomplete: 'off', :class => 'form-control') %>
    </p>

    <p>
      <%= f.label :time_end %> (24h)<br>
      <%= f.text_field(:time_end, autocomplete: 'off', :class => 'form-control') %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field(:location, {:class => 'form-control'}) %>
    </p>

    <p>
      <%= f.label :info %><br>
      <%= f.text_area(:info, {:class => 'form-control'}) %>
    </p>

    <p>
      <%= f.submit({:class => 'btn btn-primary'}) %>
    </p>
  <% end %>

  </div>
</div>
