
<%=render 'shared/navigation'%>
<%= javascript_include_tag 'home' %>
<%= javascript_include_tag 'spots' %>
<div id="MainContainer">
  <%= render 'spots/partials/spot_maps' %>
  <%= render 'spots/partials/header' %>
  <%= render 'spots/partials/spot_user_options' %>
  <%= render 'spots/partials/spot_info' %>
</div>
