
<%=render 'shared/navigation'%>

<div id="MainContainer">

  <div id="header">
    <div id="SpotName">
      <h1> Spot place : <%= @spot.spot %></h1>
    </div>
    <div id="JoinLocation">
      <%if @spot.followed_by?(current_user) %>
        <p><%= render 'follows/spot_unfollow_option' %></p>
      <% else %>
        <p><%= render 'follows/spot_follow_option' %></p>
      <% end %>
    </div>
  </div>

  <div id="spotMap">
    <iframe
      id="map"
      width="100%"
      height="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
      &q=<%="#{@spot.spot}"%>+<%="#{@spot.location}"%>" allowfullscreen>
    </iframe>
  </div>

  <div id="locationTimeContainer">
    <div id="spotLocation">
      <h3>Location : <%= @spot.location %></h3>
    </div>
    <div id="spotTime">
      <h3>Time : <%= @spot.time_start %> - <%= @spot.time_end %></h3>
    </div>
  </div><hr>

  <div id="spotInfo">
    <div id="userProfilePicture">
      <% if @user.id == @spot.user_id %>
          <%= link_to profile_path(@user.id) do %>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar.variant(resize: "75x75!"), class: "tar rounded-circle" %>
            <% else %>
              <%= image_tag gravatar_image_url(@user.email, size: 75), height: 75, width: 75, class: "tar rounded-circle" %>
            <% end %>
          <% end %>
        <% end %>
      Description:
    </div>

    <div id="userInfo">
      <%= @spot.info %> "
    </div>

  </div>



</div>

<style>
  #userInfo
  {
    width:35%;
    background-color: gray;
    margin-left: 2%;
    float: left;
    margin-top: 2%;
    height: 100px;
    padding: 10px;
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 1px 1px 1px 2px #000000;
    border-radius: 10px;
     word-break: break-all;
     word-wrap: break-word;

  }
  #userProfilePicture
  {
    margin-left: 2%;
    font-size: 30px;
    float: left;
  }

  #spotInfo
  {
    width: 100%;
    padding: 30px;
  }
  #locationTimeContainer
  {
    width: 100%;
    padding:20px;
  }
  #spotTime
  {
    margin-left: 75%;
  }
  #spotLocation
  {
    margin-left: 3%;
    float: left;
  }
  #map
    {
      -webkit-box-shadow: 5px 5px 15px 5px #000000;
      box-shadow: 1px 1px 1px 2px #000000;
      background-color: white;
      margin: auto;
      border-radius: 10px;
    }
  #spotMap
  {
    padding: 10px;
    width:100%;
    height: 40%;
  }
  #header
  {
    width: 100%;
    float: left;
  }
  #SpotName
  {
    margin-left: 2%;
    float:left;
  }
  #JoinLocation
  {
    float:left;
    margin-top: 20px;
    margin-left: 45%;
  }
  #MainContainer
  {

  }



</style>



<div class="container">

  <div class="card-total">

    <div class="card-body">
      <%= render 'spots/partials/spot_content' %>

      <div class="spot-follow-avatars"
        <%= render 'follows/spot_follower_list' %>
      </div><br>

      <div class="spot-user-options">
        <% if current_user.id == @spot.user_id %>
          <%= render 'spots/partials/spot_user_options' %>
        <% else if @spot.followed_by?(current_user) %>
          <%= render 'follows/spot_unfollow_option' %>
        <% else %>
          <%= render 'follows/spot_follow_option' %>
        <% end %>
      <% end %>
      </div>

      <div id="UserDiets" style="display:none;">
        <div><%= render 'spots/partials/spot_dietery_preference' %></div>
      </div>

      <div id="UserComments" style="display:none;">

        <div class="comments-flex"

          <div id ="each-comment"><%= render 'spots/partials/spot_comments_content' %></div>
          <div><%= render 'spots/partials/spot_comment_form' %></div>

        </div>

      </div>

  </div>

</div>
