<div class="containerr">
  <div class="profile-greeting">
    <% if @user.id == current_user.id %>
      <h1 class ="text">Hey, <%= current_user.username %>! Check out where you'll be lunching.</h1>
    <% else %>
      <h1 class ="text">Check out where <%= @user.username %> is lunching!</h1>
    <% end %>
  </div>

    <% @allspots.each do |spot| %>
      <% if spot.followed_by?(@user) %>

      <div class="card-total">
        <%= link_to spot_path(spot) do %>
        <% end %>

          <div class="card-body">
            <h2><%= spot.datestring %></h2>
            <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
              &q=<%="#{spot.spot}"%>+<%="#{spot.location}"%>" allowfullscreen>
            </iframe>

            <div class="spot-title-time">
              <p><small><b>Spot place : </b><%=spot.spot%></small></p>

            </div>
            <div class="fontsize">
              <p><b>Time : </b><%= spot.time_start %> - <%= spot.time_end %></p>
            </div>
            <div class="fontsize">
              <p><b>Location : </b><%= spot.location %></p>

            </div>
            <div class="fontsize" id="redirect-to-spot">
              <p><%= link_to "Click here for more details", spot_path(spot)%></p>
            </div>

          </div>
      </div>
  <% end %>
  <% end %>
</div>
