
<div class='profile-container'>
  <div class='user-info'>
    <%= render 'users/profile_images_partials/profile_avatar' %>
    <h1><%= @user.username %></h1>
    <%= render 'users/profile_images_partials/profile_diet_pref' %>
  </div>

  <div class='user-buttons'>
    <% if current_user.id == @user.id %>
      <%= render "users/profile_options_partials/current_user_profile_options" %>
    <% else %>
      <%= render "users/profile_options_partials/other_user_profile_options" %>
    <% end %>
  </div>
</div>

<div id="UserFollowingPosts" style="display:block;">
  <%= render 'users/profile_spots_partials/profile_followed_spots' %>
</div>

<div id="UserPosts" style="display:block;">
  <%= render 'users/profile_spots_partials/profile_user_spots' %>
</div>
