<div class='profile-container'>
  <div class='user-info'>
    <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, height: 100, width: 100, class: "tar rounded-circle" %>
    <% else %>
    <%= image_tag gravatar_image_url(@user.email, size: 75), height: 100, width: 100, class: "tar rounded-circle" %>
    <% end %>
    <h1><%= @user.username %></h1>
  </div>
  <div class='user-buttons'>
    <% if current_user.id == @user.id %>
      <a <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-info' %></a>
      <a <%= link_to 'Post spot', new_spot_path, :class => 'btn btn-success' %></a>
      <button type="button" class="btn btn-secondary" onclick="showDiv()">My spots</button>
    <% end %>
  </div>
</div>

<div id="UserPosts" style="display:none;">
    <div class="container">
      <% if @spots != nil %>
        <% @spots.each do |spot| %>
          <div class="card-total">
            <%= link_to spot_path(spot) do %>
            <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
              &q=<%="#{spot.spot}"%><% "#{spot.location}"%>" allowfullscreen>
            </iframe>
            <% end %>

              <div class="card-body">

                <div class="spot-title-time"
                  <h1><a class="spot-title"<%= link_to spot.spot, spot_path(spot)%></a></h1>
                  <p class="spot-time"><%= spot.time_start %> - <%= spot.time_end %></p>
                </div>

                <p><%= spot.location %></p>
                <p><%= spot.info %></p>

                <h4>Lunchers</h4>
                <div class="spot-followers"
                  <p><%= spot.username %></p>
                  <% spot.followers.each do |follower| %>
                  <div class="spot-each-follower"
                    <%= link_to profile_path(follower.id) do %>
                      <% if follower.avatar.attached? %>
                        <%= image_tag follower.avatar.variant(resize: "50x50!"), class: "tar rounded-circle" %>
                      <% else %>
                        <%= image_tag gravatar_image_url(follower.email, size: 75), height: 50, width: 50, class: "tar rounded-circle" %>
                      <% end %>
                  </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>
      <% end %>
    </div>
      <% else %>
        <h2>No spots yet :/</h2>
        <br>
        <a class="nav-link" <%= link_to "Post a spot!", new_spot_path %> </a>
      <% end %>
  </div>
</div>
    <style>
      .card-total {
        border-style: solid;
        border-color: grey;
        border-radius: 25px;
        width: 59%;
        margin: 20px;
      }
    a.spot-title {
      font-size: 30px;
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      font-size: 40px;
    }

    .spot-title-time {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      font-size: 20px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-body {
      padding: 30px;
    }

    .card-img-top {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .spot-followers {
      display: flex;
      flex-direction: row;
    }

    .spot-each-follower {
      padding: 5px;
    }
    </style>
